/*@font-face{
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-Regular.ttf) format("truetype");
    font-weight: 400;
    
}

@font-face{
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-Bold.ttf) format("truetype");
    font-weight: 700;
    
}*/

*{
    box-sizing: border-box;
}

body, html{
    --primary: #131753;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: rgba(0, 0, 0, .87);
    line-height: 1.6;
    margin: 0;
    font-weight: 400;
    /*background: #131753;*/
}

.topbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;   
    padding: 30px 87px;
    z-index: 3;
    box-shadow: 0 4px 30px rgba(19, 23, 83, 1);
    text-decoration: none;
}


.topbar nav{
    float: left;
}

.social{
    float: right;
}

.social a {
    padding: 0 12px;
    opacity: 0.5;
    transition: 1s;
}

.social a:hover {
    opacity: 1;
    color: #131753;
}

.topbar nav a{
    color: #9F9F9F;
    text-decoration: none;
    font-weight: 400;
    padding: 0 53px;
    transition: 0.3s;
}

.topbar nav a:hover{
    color: #131753;
    font-weight: 700;
}

.banniere{
    height: 600px;
    background: no-repeat center -100px / cover url("img/bgbanniere.jpg") fixed;
}

.body{
    display: flex;
}

.main{
    background: #fff;
    width: 80%;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.4);
    margin-top: 1px;
    position: relative;
    z-index: 2;
}

.sidebar{
    width: 20%;
    padding: 40px;
    color: #d0d7ff;
    font-size: 17px;   
    /*border-radius: 10px 100px / 120px;*/
    margin-top: 1px;
    position: relative;
    z-index: 1;
    background: #131753;
}

.sidebar a{
    color: #d0d7ff;
    text-decoration: none;
}

.sidebar a:hover{
    text-decoration: none;
    /*animation: slideright 2s;*/
}

.sidebar-title{
    font-size: 30px;
    margin: 35px 0;
}

.sidebar-title:first-child{
    margin-top: 0;
}

.sidebar ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 2.3;
}

.sidebar li{
    transition: .3s;
    opacity: 0.8;
}

.sidebar li:hover{
    font-weight: 700;
    opacity: 3;
    /*animation: slideright 2s;*/
}

.container{
    max-width: 940px;
    margin: 0 auto;
}

.article{
    position: relative;
    margin: 50px 0;
    padding-left: 333px;
    min-height: 203px;
    max-width: 940px;
}

.article-img{
    position: absolute;
    left: 0;
    top: 0;
    width: 308px;
    margin-right: 25px;
}

.article-img img{
    width: 100%;
    height: auto;
}

.article-date{
    font-weight: 400;
    color: rgba(0 , 0 , 0 , 0.6);
    margin-bottom: 5px;
}

.article-title{
    font-size: 1.7rem;
    line-height: 1.2;
    font-family: "Cardo", serif;
    margin: 0 0 15px 0;
}

.article a{
    text-decoration: none;
    color: #131753;
}

.article a:hover{
    text-decoration: underline;
}

.article-img{
    opacity: 0.6;
    transition: transform 0.8s;
    /*animation: slideright 2s;*/
}

.article-img:hover{
    transform: scale(1.1);
    opacity: 1;
}

.sidebar li a::after{
    content: attr(data-count);
    float: right;
    background: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    color:rgba(19, 23, 83, 1);
    font-size: 0.8rem;
    font-weight: 700;
    text-align: center;
}

@keyframes slideright{
    from{
        transform: translateY(100px);
        opacity: 0.4;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.footer{
    clear: both;
    background: var(--primary);
    color: white;
    height: 50px;
    text-align: center;
    font-size: 900;
    font-family: inherit;
    padding-top: 12px;
    margin-top: 2px;
}

@media screen and (max-width: 1100px){
    .sidebar{
        width: 100%;
    }
    .body{
        display: block;
    }
    .main{
        width: 100%;
    }
    .main .container{
        overflow: hidden;
    }
}

@media screen and (max-width: 740px){
    .container{
        padding: 0 20px;
    }
    .article{
        padding-left: 0;
    }
    .article-img{
        position: static;
        margin-bottom: 1rem;
        width: 100%;
        display: block;
    }
}

@media screen and (max-width: 971px){
    .topbar{
        position: absolute;
    }
}

@media screen and (max-width: 970px){
    .topbar nav, .social{
        float: none;
        text-align: center;
    }
    .topbar nav{
        margin-bottom: 15px;
    }
    .topbar nav a {
        display: inline-block;
        white-space: nowrap;
        margin: 0 20px 5px 20px;
    }

}







